@using drDotnet.Services.Identity.API.Configuration.Root
@model drDotnet.Services.Identity.API.Models.AccountViewModels.LoginViewModel
@inject IRootConfiguration RootConfiguration

<form asp-controller="Account" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <input asp-for="Email" />
    <input asp-for="Password" />
    <button type="submit">Login</button>
</form>

<div asp-validation-summary="All"></div>

@if (RootConfiguration.RegisterConfiguration.Enabled)
{
    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text">Register</a>
}