.dialog-details {
    max-width: 71%;
    flex: 1 1 71%;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--chat-background);
    background-size: cover;
    background-position: center;
    transition: background-image 0.25s ease;
    position: relative;
}