.tile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    user-select: none;
}

.chat-tile {
    z-index: 1;
    position: relative;
    height: var(--tile-size-normal);
    width: var(--tile-size-normal);
    border-radius: 50%;
    flex-shrink: 0;
}

.chat-tile.tile-dialog {
    height: var(--tile-size);
    width: var(--tile-size);
}